export(AnalyzeCrossesMM)
export(DisplayCmatrix)
export(EvaluateModel)
export(VisModelSpace)
importFrom(plotrix, color.legend)
importFrom(grDevices, heat.colors)
importFrom(graphics, barplot, mtext, par, plot, segments, text)
importFrom(stats, glm, pchisq, var, vcov)
importFrom(utils, combn, read.csv)